<ion-view>
    <ion-content>
        <div>
            <button class="button  button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:40%;float:left;clear:none;margin-left:5%" ng-click="accept()" >
                <image src="img/acceept.png" style="height:30px;vertical-align: middle;padding-top: 2px"></image>
                Accept
            </button>
            <button class="button  button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:40%;float:left;clear:none;margin-left:10%;margin-right: 5%" ng-click="reject()"  >
                <image src="img/reject.jpg" style="height:30px;vertical-align: middle;padding-top: 2px"></image>
                Reject
            </button>
        </div>
    </ion-content>
</ion-view>