<ion-view view-title="Add Consumer">
    <ion-content>

        <!--        <table width="100%">
                    <tr>
                        <td colspan="2" style="padding-top:12px">
                            <span class="input-label">First Name</span> 
                        </td>
                        <td>
                            <input type="text" ng-model="consumer.fname" style="margin-bottom:-6px;border:2px inset silver;width: 100%" >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="input-label">Last Name</span>
                        </td>
                        <td>
                            <input type="text" ng-model="consumer.lname" style="margin-bottom:-6px;border:2px inset silver;width: 100%" >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="input-label">Email Id</span>
                        </td>
                        <td>
                            <input type="text" ng-model="consumer.email" style="margin-bottom:-6px;border:2px inset silver;width: 100%" >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-bottom: 15px">
                            <span class="input-label">User Type</span>
                        </td>
                        <td style="padding-bottom: 15px">
                            <input type="radio" name="usertype" ng-checked="true" value="free">Free                 
                            <input type="radio" name="usertype" value="free">Paid
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="button button-block button-positive" style="width:100%">Clear</button>
                        </td>
                        <td></td>
                        <td>
                            <button class="button button-block button-positive" style="width:50%;margin-left:2px" ng-click="addconsumer()">SignUp</button>
                        </td>
                    </tr>
        
                </table>-->
        <label class="item item-input" >
            <span class="input-label">First Name</span>
            <input type="text" ng-model="consumer.fname" tabindex="0" style="    height: 44px;
                   padding: 0px;
                   /* border-left: #696565; */
                   border-style: solid;
                   border-width: 1px;
                   border-color: #B5AFAF;margin-right:4%" ng-change="change()">
        </label>
        <label class="item item-input" >
            <span class="input-label">Last Name</span>
            <input type="text" ng-model="consumer.lname" style="    height: 44px;
                   padding: 0px;
                   /* border-left: #696565; */
                   border-style: solid;
                   border-width: 1px;
                   border-color: #B5AFAF;margin-right:4%" ng-change="change()">
        </label>      
        <label class="item item-input" style="margin-bottom:0px">
            <span class="input-label">Email Id</span>
            <input type="text" ng-model="consumer.email" style="    height: 44px;
                   padding: 0px;
                   /* border-left: #696565; */
                   border-style: solid;
                   border-width: 1px;
                   border-color: #B5AFAF;margin-right:4%" ng-change="change()">
        </label>
        <div style="border-width:0px 1px 1px 1px;border-style:solid;border-color:#ddd; height:45px;">
            <span class="input-label" style="float:left;vertical-align:middle;padding-top:10px;margin-left:15px">User Type</span>
            <div style="padding-top:13px">
                <input type="radio" name="usertype" ng-model="consumer.usertype" ng-checked="true" value="Free" style="float:left;font-size:13px"><span style="float:left;font-size:16px;padding-bottom:13px;margin-left:12px;">Free</span>                 
                <input type="radio" name="usertype" ng-model="consumer.usertype" value="Paid" style="margin-left:16px;float:left"><span style="float:left;font-size:16px;margin-left:12px;">Paid</span>
            </div>
        </div>
        <div style="margin-top:10%;width:100%">
            <button class="button icon-right ion-chevron-right button-block button-positive"  style="    background-color: #387ef5;border-color: #204d74;" ng-disabled="form==1" ng-click="addconsumer()">
                Submit
            </button>
            <!--            <button class="button button-block button-positive" style="width:30%;float:left;clear:both;margin-left:2%">Clear</button>
                        <button class="button button-block button-positive" style="width:30%;margin-left:2px;float:left;clear:both" ng-click="addconsumer()">SignUp</button>-->
        </div>
    </ion-content>
</ion-view>