<ion-view>
    <ion-content>
        <div class="log" align="center"><div></div></div>
        <div class="logbg" align="center">
            <div class="logbg2">
                <div class="inp">
                    <div class="font101">FORGOT PASSWORD</div>
                    <div class="bg11" align="center">
                        <div class="mrg02"><label class="item item-input">
                                <i class="email"></i>
                                <input type="text" placeholder="Email Address" ng-model="getmail.mailid">
                            </label>
                        </div>
                    </div>
                    <div class="mrg3">
                        <div class="hi">
                            <a href="#">
                                <div class="send"><img src="images/send_11.png" class="bg01" ng-click="getpassword()"></div>
                            </a>
                        </div>

                    </div>
                    <div></div>
                </div>                    
            </div>                    
        </div>
    </ion-content>
</ion-view>
