<ion-view>
    <ion-content>
        <div class="ionic-body">
            <div class="content loginpage-wrap">

                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>

                <div class="list login-bg">
                    <h6>FORGOT PIN</h6>
                    <div class="list3">
                        <label class="item item-input">
                            <i class="icon ion-email2 placeholder-icon"></i>
                            <input type="text" placeholder="Email Address">
                        </label>
                    </div>
                    <div class="padding ">
                        <button class="sign-in-btn" ng-click="signin()">Send</button>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>

