<ion-view>
    <ion-content>
       <div class="ionic-body">		

		<div class="content loginpage-wrap">
		
			<div class="logo">
				<img src="images/logo.png" alt="">
			</div>
			
			<div class="list login-bg">
				<h6>Forgot Password</h6>
				<div class="list">
                <div style=" margin-top:50px" class="newheading">Email Address</div>
				  <label class="item item-input">
					<i class="icon ion-email placeholder-icon"></i>
					<input type="text" placeholder="">
				  </label>
				</div>
				<div style="margin-top:20px" class="padding ">
					<button class="sign-in-btn" ng-click="pin()">Send</button>
				</div>			
			</div>
			
	  	</div>

	</div>
    </ion-content>    
</ion-view>

