<ion-modal-view>
    <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
        <h1 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Forgot Password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()" style="color:#fff;text-align: center;    font-size: 100%;">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="getpassword()">
            <div  style="border-width:1px 1px 1px 1px;border-style:solid;border-color:#ddd; height:70px;">
                <input type="text" ng-model="getpin.mailid" style="height: 44px;
                       padding: 0px;               
                       border-style: solid;
                       border-width: 1px;
                       border-color: #B5AFAF;margin-left:15%;width:70%;margin-top: 5px" placeholder="Enter EmailId" >
            </div>  



            <!--          <button class="button button-block button-positive" type="submit" style="    color: #fff;
                background-color: #286090;
                border-color: #204d74;">Log in</button>-->


            <button class="button  button-block button-positive"  style="width:80%;margin-left:10%; background-color: #286090;border-color: #204d74;">
                Sumbit
            </button>
        </form>
    </ion-content>
</ion-modal-view>