
<ion-view>
    <ion-content>

        <div>

            <input type="text" ng-model="gift.id" style="height: 44px;
                   padding: 0px;               
                   border-style: solid;
                   border-width: 1px;
                   border-color: #B5AFAF;margin-right:2%;margin-left:1%;float:left;width:65%;margin-top: 13px">
            <button class="button  button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:30%;float:left;clear:none;margin-left:2%" ng-click="verify()"  >
               verify   
            </button>
            <div ng-show="v==1" style="color:greenyellow;text-align:center;font-size:30px">
                Valid Consumer
            </div>
            <div ng-show="i==1" style="color:red;text-align:center;font-size:30px">
                InValid Consumer
            </div>
            <div>
            <input type="text" ng-model="gift.point" style="height: 44px;
                   padding: 0px;               
                   border-style: solid;
                   border-width: 1px;
                   border-color: #B5AFAF;margin-left:20%;float:left;width:60%;margin-top: 13px">
             <button class="button  button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:60%;float:left;clear:none;margin-left:20%" ng-click="sendgift()" >
              Send Gift  
            </button>
            </div>
        </div>
    </ion-content>
</ion-view>


