<ion-view  hide-back-button="false" view-title="Promotion List">  
    
   
  <ion-nav-buttons side="right">
  <button class="button" ng-click="filter()">
      <i class="ion ion-search"></i>
  </button>
</ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Merchant Name</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Offer Name</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Distance (Miles)</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">view Promotion</div>
        </div>

        <div class="row" ng-repeat="promotion in promotions">
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;vertical-align:middle;text-align: center;font-size: 16px;">
                
            <img src="http://merchant.kontactpoints.com{{promotion.StoreImagePath}}" style="height:70px !important;width: 70px;
                 text-align: center;border-radius: 50px;border-style: groove;box-shadow: 0px 0px 1px 1px #0B467C;border-color: rgba(0, 0, 0, 0.24);
                 border-width: 1px;" align="middle"/><br/>
                {{promotion.BusinessName}}</div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;text-align: center;font-size: 16px;">{{promotion.OfferName}}</div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;text-align: center;font-size: 16px;">{{promotion.Distance| number:2}}</div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;">
                <a class="button  button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:100%;float:left;clear:none" ng-href="#/app/grid/{{promotion.SNO}}">
                    Promotion
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>