<ion-view>
    <ion-content>
        <div class="log" align="center"><div></div></div>
        <div class="logbg" align="center">
            <div class="logbg2">
                <div class="inp">
                    <div class="font01">Sign in into your account</div>
                    <div class="bg11" align="center">
                        <div class="mrg2"><label class="item item-input">
                            <img src="images/android-contact.png" class="user">
                                <input type="text" placeholder="Username/Email" ng-model="loginData.username">
                            </label>
                        </div>
                    </div>
                    <div class="mrg3">
                        <label class="item item-input">
                              <img src="images/lock_11.png" class="user">
                            <input type="password" placeholder="Password" ng-model="loginData.password">
                        </label>
                        <div class="hi">
                            <button class="button button-clear button-positive" ng-click="doLogin()">
                                <div class="sign"><img src="images/signin_15.png" class="bg01"></div>
                            </button></div>
                        <div align="center"><button class="button button-clear button-positive" ng-click="getpassword()"><b class="font02">FORGOT PASSWORD?</b></button></div>
                        <div class="font002"><button class="button button-clear button-positive" ><font class="font03">NO ACCOUNT ?</font></button><button class="button button-clear button-balanced" ng-click="signup()"><font class="font04">CREATE ONE</font></button></div>
                    </div>
                    <div></div>
                </div>
                    
            </div>
        </div>

    </ion-content>    
</ion-view>