<ion-modal-view>
    <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
        <h1 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Login to Kontact Points</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()" style="color:#fff;text-align: center;    font-size: 100%;">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list" ng-show="show == 1">
                <label class="item item-input">
                    <span class="input-label">Enter your Postcode</span>
                    <input type="text" ng-model="inquiry1.loc" style="height: 44px;
                           padding: 0px;               
                           border-style: solid;
                           border-width: 1px;
                           border-color: #B5AFAF;margin-right:14%">
                </label>

                <label class="item" style="text-align:center">
                    OR
                    <button class="button  button-block button-positive"  style="
                            background-color: #286090;border-color: #204d74;width:50%;margin-left:25%" ng-click="getlocation()">Get your location</button>
                </label>
                <label class="item">

                    <button class="button icon-right ion-chevron-right button-block button-positive"  style="
                            background-color: #286090;border-color: #204d74;" ng-click="step2()">
                        Next
                    </button>
                </label>
            </div>
            <div ng-show="show1 == 1">
                <select ng-model="inquiry1.radius" style="position:relative;    border-style: ridge;
                        border-width: 1px;
                        background-color: rgb(239, 115, 1);
                        height:60px;
                        width: 80%;
                        margin-left:10%;
                        margin-top:3%;
                        margin-bottom: 19px;
                        text-align: center;
                        color: white;font-size: 21px;
                        font-weight: bold;">
                    <option value="">Select By Radius</option>
                    <option value="{{i}}"  ng-repeat="i in [2, 5, 10]">{{i}} </option>
                </select>
                <div style="border-width:1px 1px 1px 1px;border-style:solid;border-color:#ddd; height:70px;">
                    <button class="button icon-left ion-chevron-left button-block button-positive"  style="
                            background-color: #286090;border-color: #204d74;width:25%;float:left;margin-left:10%;margin-right:10%" ng-click="previous()">
                        Prev
                    </button>

                    <button class="button icon-right ion-chevron-right button-block button-positive"  style="
                            background-color: #286090;border-color: #204d74;width:40%;float:left;clear:none" ng-click="grid()">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>