<ion-modal-view>
     <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
        <h1 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Promotion Search</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeflilter()" style="color:#fff;text-align: center;    font-size: 100%;">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>   
        <div >
            <div class="list" >

                <div style="border-width:1px 1px 1px 1px;border-style:solid;border-color:#ddd; height:0px;">
                    <!--                    <span class="input-label">Enter your Postcode</span>-->
                    <!--                    <input type="text" ng-model="inshop.loc" placeholder="Enter Postcode" style="height: 44px;width:40%;margin-top: 13px;margin-right:8px;margin-left:2px;
                                               padding: 0px;               
                                               border-style: solid;
                                               border-width: 1px;
                                               float:left;
                                               border-color: #B5AFAF;clear:none">
                                        <span style="float:left;margin-top:22px;">OR</span>
                                        <button class="button  button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:38%;margin-right:0%;margin-left:2px;float:left;clear:none;" ng-click="getlocation()">My location</button> -->
                </div>

                <div>
                    <select ng-model="inshop.type" style="position:relative;    border-style: ridge;
                            border-width: 1px;
                            background-color: #337AB7;
    border-radius: 9px;
                            height:40px;
                            width: 80%;
                            margin-left:10%;
                            margin-top:0%;
                            margin-bottom: 19px;
                            text-align: center;
                            color: white;font-size: 21px;
                            font-weight: bold;">
                        <option value="">Select Type</option>
                        <option value="{{i}}"  ng-repeat="i in ['Inshop', 'Online', 'Both']">{{i}} </option>
                    </select>
                    <ion-radio ng-repeat="item in paymentoption"
                               ng-value="item.value"
                               ng-change="location(item.value)"
                               ng-model="loc.cl" style="    float: left;
                               font-size: 12px;width:50%;font-weight: bold;">
                        {{ item.text}}
                    </ion-radio>
                    <input type="text" id="loctype" ng-model="inshop.loc" placeholder="Enter PostCode" style="height: 44px;width:60%;margin-top:65px;margin-left:20%;
                           padding: 0px;               
                           border-style: solid;
                           border-width: 1px;
                           border-color: #B5AFAF;clear:none" ng-blur="latlng()">
                      <input type="text" id="loctype" ng-model="inshop.keyword" placeholder="Enter Keyword" style="height: 44px;width:60%;margin-top:5px;margin-left:20%;
                           padding: 0px;               
                           border-style: solid;
                           border-width: 1px;
                           border-color: #B5AFAF;clear:none" ng-blur="latlng()">
                </div>
                <div style="border-width:1px 1px 1px 1px;border-style:solid;border-color:#ddd; height:70px;">
                    <!--                    <button class="button icon-left ion-chevron-left button-block button-positive"  style="
                                                background-color: #286090;border-color: #204d74;width:25%;float:left;margin-left:10%;margin-right:10%" ng-click="previous()">
                                            Prev
                                        </button>-->

                    <button class="button icon-right ion-chevron-right button-block button-positive"  style="
                            background-color: #286090;border-color: #204d74;width:50%;margin-left:25%;float:left;clear:none" ng-click="grid()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>