<ion-view view-title="IWT List">
    <ion-nav-buttons side="right">      
        <button class="button" ng-click="open()">
            <i class="ion-search"></i>
        </button>
    </ion-nav-buttons>
    <script id="iwt-modal1.html" type="text/ng-template">
               <ion-modal-view>
               <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
               <h2 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Search List</h2>
                
                 <div class="buttons">
     <button class="button button-clear" ng-click="close()" style="color:#fff;text-align: center;    font-size: 100%;">
         <i class="icon ion-close-circled"></i>
         </button>
   </div>
               </ion-header-bar>
               <ion-content>
               <div style="text-align:center">
               <input type="radio" name="fliter" ng-model="filter.cb" value="POSTED"/>POSTED  <br/>     
               <input type="radio" name="fliter"  ng-model="filter.cb" value="REPLY"/>REPLY  <br/>
               <input type="radio" name="fliter"  ng-model="filter.cb" value="SEEN"/>SEEN <br/>  
               <input type="radio" name="fliter"  ng-model="filter.cb" value="ALL" selected/>All <br/> 
               </div>
              <button class="button icon-right ion-chevron-right button-block button-positive"  style="background-color: #286090;border-color: #204d74;" ng-click="apply()">
                          APPLY
               </button>
               
               </ion-content>
               </ion-modal-view>
    </script>
    <ion-content>
        <ion-list>
            <script id="iwt-modal.html" type="text/ng-template">
                <ion-modal-view>
                <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
                <h2 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Update Iwt</h2>

                <div class="buttons">
                <button class="button button-clear" ng-click="closeupdate()" style="color:#fff;text-align: center;    font-size: 100%;">
                <i class="icon ion-close-circled"></i>
                </button>
                </div>
                </ion-header-bar>
                <ion-content>
                <input type="text" ng-model="iwt.ufindtxt" style="height:30px;width:60%;margin-top: 13px;margin-left:20%;
                padding: 0px;               
                border-style: solid;
                border-width: 1px;
                float:left;
                border-color: #B5AFAF;clear:none">
                <input type="text" ng-model="iwt.udesc" style="height:30px;width:60%;margin-top: 13px;margin-left:20%;
                padding: 0px;               
                border-style: solid;
                border-width: 1px;
                float:left;
                border-color: #B5AFAF;clear:none">
                <input type="text" ng-model="iwt.uprice" placeholder="MAx Price" style="height:30px;width:60%;margin-top: 13px;margin-left:20%;
                padding: 0px;               
                border-style: solid;
                border-width: 1px;
                float:left;
                border-color: #B5AFAF;clear:none">
                <input type="date" ng-model="iwt.udate" placeholder="When do you want it by?" style="height:30px;width:60%;margin-right:8px;margin-left:20%;margin-top: 13px;
                padding: 0px;               
                border-style: solid;
                border-width: 1px;
                float:left;
                border-color: #B5AFAF;clear:none">

                <button class="button icon-right ion-chevron-right button-block button-positive"  style="background-color: #286090;border-color: #204d74;" ng-click="applyupdate()">
                APPLY
                </button>

                </ion-content>
                </ion-modal-view>
            </script>
            <ion-item style="font-weight: bold;
                      border-style: solid;
                      border-width: 2px;
                      border-color: black;">
                <div>
                    <div style="width:25%;float:left">Max Price</div>
                    <div style="width:35%;float:left">Item</div>
                    <div style="width:30%;float:left">Status</div>
                    <div style="float:left">Edit</div>
                </div>
            </ion-item>
            <ion-item ng-repeat="iwtlist in iwtlists" class=" icon icon-accessory icon-right"  style="cursor: pointer">

                <div >
                    <div ng-click="offerlist(iwtlist.IwtId, iwtlist.Lattitude, iwtlist.Longitude, iwtlist.Keywords)" style="width:25%;float:left">{{iwtlist.BudgetMax}}</div>
                    <div ng-click="offerlist(iwtlist.IwtId, iwtlist.Lattitude, iwtlist.Longitude, iwtlist.Keywords)" style="width:35%;float:left">{{iwtlist.Keywords}} ({{iwtlist.EndDate.split('T')[0]}}) </div>
                    <div ng-click="offerlist(iwtlist.IwtId, iwtlist.Lattitude, iwtlist.Longitude, iwtlist.Keywords)" style="width:30%;float:left">{{iwtlist.status}}</div>
                    <button ng-click="iwtupdate(iwtlist.IwtId, iwtlist.Description, iwtlist.Keywords, iwtlist.EndDate, iwtlist.BudgetMax)">Edit</button>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>