<ion-view view-title="Live Status">
    <ion-content>
        
            <table style="width: 100%">
            <tr>
                <td>
                    <div class="row" style="margin-top:10%">
                        <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                             line-height: 1.42857143;background: #EF7301 !important;text-align: center;color: #fff;box-sizing: border-box;">Merchants</div>  
                    </div>
                    <div class="row" >
                        <div class="col" style="font-weight:bold;font-size:40px;    line-height: 90px;border: 1px solid #ddd;color: #000 !important;height:100px;text-align:center;vertical-align:middle;text-anchor:middle">{{livestatusData.Merchant}}</div>   


                    </div>
                </td>
                <td>
                    <div class="row" style="margin-top:10%">
                        <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                             line-height: 1.42857143;background: #EF7301 !important;text-align: center;color: #fff;box-sizing: border-box;">Consumers</div>  
                    </div>
                    <div class="row" >
                        <div class="col" style="font-weight:bold;font-size:40px;    line-height: 90px;border: 1px solid #ddd;color: #000 !important;height:100px;text-align:center;vertical-align:middle;text-anchor:middle">{{livestatusData.Consumer}}</div>   


                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row" style="margin-top:10%">
                        <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                             line-height: 1.42857143;background: #EF7301 !important;text-align: center;color: #fff;box-sizing: border-box;">Products</div>  
                    </div>
                    <div class="row" >
                        <div class="col" style="font-weight:bold;font-size:40px;    line-height: 90px;border: 1px solid #ddd;color: #000 !important;height:100px;text-align:center;vertical-align:middle;text-anchor:middle">{{livestatusData.Product}}</div>   


                    </div>
                </td>
                <td>           
                    <div class="row" style="margin-top:10%">
                        <div class="col" style="border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                             line-height: 1.42857143;background: #EF7301 !important;text-align: center;color: #fff;box-sizing: border-box;">Points</div>  
                    </div>
                    <div class="row" >

                        <div class="col" style="font-weight:bold;font-size:40px;line-height: 90px;border: 1px solid #ddd;color: #000 !important;height:100px;text-align:center;vertical-align:middle;text-anchor:middle">
                            {{livestatusData.Points}}
                        </div>   
                    </div>
                </td>
            </tr>
        </table>
    </ion-content>
</ion-view>
