<ion-view>
    <ion-content>
      <div class="ionic-body">
		

		<div class="content loginpage-wrap">
		
			<div class="logo">
				<img src="images/logo.png" alt="">
			</div>
			
			<div class="list login-bg">
				<h6>Sign in to your account</h6>
				<div class="list">
                <div class="newheading">Username / Email</div>
				  <label class="item item-input">
					<i class="icon ion-user placeholder-icon"></i>
					<input type="text" placeholder="">
				  </label>
				</div>
				<div class="list">
                <div class="newheading">Password</div>
				  <label class="item item-input">
					<i class="icon ion-password placeholder-icon"></i>
					<input type="password" placeholder="">
				  </label>
				</div>
				<div class="padding ">
					<button class="sign-in-btn">Sign In</button>
				</div>
				<a href="#/forgotpassword" class="forgot-link">FORGOT PASSWORD?</a>
				<div class="signup-link">NO ACCOUNT? <a href="#/signup">CREATE ONE!</a></div>
			
			</div>
			
	  	</div>

	</div>
    </ion-content>
</ion-view>
