<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">         
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-back-button side="left">Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" enable-menu-with-back-views="true">
        <ion-header-bar class="bar-stable" style="border-bottom: 1px solid #e5e5e5;border-radius: 4px 4px 0 0;    height: 79px;">

            <img ng-src="{{Photo}}" style="height:70px !important;width: 70px;
                 text-align: center;border-radius: 50px;border-style: groove;box-shadow: 0px 0px 1px 1px #0B467C;border-color: rgba(0, 0, 0, 0.24);
                 border-width: 1px;" align="middle"/>
            <h1 class="title" style="color:#fff;text-align: center;font-size:100%">{{Name}}</h1>

        </ion-header-bar>
        <ion-content >
            <ion-list style="color:black !important;">      

<!--                <ion-item menu-close href="#/app/dashbord" style="margin-top: 12%;">
                    <i class="icon ion-monitor"></i>
                    Point
                </ion-item>-->
 <ion-item menu-close href="#/app/livestatus" style="margin-top: 12%;">
                    <i class="icon ion-arrow-graph-up-right" ></i>
                  Live Status
                </ion-item>
                <ion-item menu-close href="#/app/grid" >
                    <i class="icon ion-gear-a"></i>
                    Promotions
                </ion-item>
                              
                                <ion-item menu-close href="#/app/mystatement">
                                    <i class="icon ion-clipboard"></i>
                                    REWARD WALLET
                                </ion-item>
                                <ion-item menu-close href="#/app/mybonus">
                                    <i class="icon ion-clipboard"></i>
                                    LOYALTY WALLET
                                </ion-item>
<!--                                <ion-item menu-close href="#">
                                    <i class="icon ion-clipboard"></i>
                                   Activity
                                </ion-item>-->
                <!--                <ion-item menu-close href="#/app/mycard">
                                    <i class="icon ion-card"></i>
                                    My Card
                                </ion-item>-->
                <!--                <ion-item menu-close href="#/app/mycontact">
                                    <i class="icon ion-person-stalker"></i>
                                    My Contact
                                </ion-item>-->
                <!--                <ion-item menu-close href="#/app/mymessage">
                                    <i class="icon ion-email"></i>
                                    My Message
                                </ion-item>-->
<!--                <ion-item menu-close href="#/app/myinvite">
                    <i class="icon ion-ios-personadd"></i>
                    Invite
                </ion-item>-->
<!--                <ion-item menu-close href="#/app/merchantTransactionRequest">
                    <i class="icon ion-android-notifications"></i>
                    Notification
                </ion-item>-->
                <ion-item menu-close href="#/app/iwantthis">
                    <i class="icon ion-android-notifications"></i>
                    I WANT THIS
                </ion-item>
<!-- <ion-item menu-close href="#">
                    <i class="icon ion-ios-personadd"></i>
                    RECOMMANDED
                </ion-item>-->
<!--                <ion-item menu-close href="#/app/myprofile">
                    <i class="icon ion-android-settings"></i>
                    Settings
                </ion-item>-->
                <!--                <ion-item menu-close href="#/app/mycircle">
                                    <i class="icon ion-link"></i>
                                    My Circle
                                </ion-item>-->
                 <ion-item menu-close href="#/app/paymentlist" >
                    <i class="icon ion-android-list"></i>
                 PaymentList
                </ion-item>
                  
                <ion-item menu-close href="#/app/home" >
                    <i class="icon ion-log-out"></i>
                    Log Out
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
