<ion-view view-title="Loyalty Wallet">
    
      <ion-nav-buttons side="right">    
        <button class="button" ng-click="filter()">
            <i class="ion ion-search"></i>
        </button>
    </ion-nav-buttons>
      <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view>
         <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
        <h1 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Wallet Search</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeflilter()" style="color:#fff;text-align: center;    font-size: 100%;">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
    </ion-header-bar>
        <ion-content>
          <div style="text-align:center">  
       <ion-radio ng-repeat="item in paymentoption"
                               ng-value="item.value"
                               
                               ng-model="loc.cl" style="text-align:center;margin-left:25%;
                               font-size: 12px;width:50%;font-weight: bold;">
                        {{ item.text}}
                    </ion-radio>
          
          
            
                    <button class="button icon-right ion-chevron-right button-block button-positive"  style="
                            background-color: #286090;border-color: #204d74;width:50%;margin-left:25%;float:left;clear:none" ng-click="search()">
                        Search
                    </button>
                           </div>
        </ion-content>
        </ion-modal-view>
    </script>
    <ion-content>
          <div class="row">
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Merchant Name</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Points</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">ExpireTime</div>
            
        </div>
        <div class="row" ng-repeat="bonusstmt in bonusstmts" >
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;vertical-align:middle;text-align: center;font-size: 16px;">{{bonusstmt.Name}}</div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;text-align: center;font-size: 16px;">{{bonusstmt.Points}}</div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;text-align: center;font-size: 16px;">{{bonusstmt.ExpireTime}}</div>
            
        </div>
    </ion-content>
    
</ion-view>