<ion-view view-title="My Card" cache-view="false" style="color: white !important;"> 

    <ion-content>
        <div class="list padding">

            <div ng-click="flip()" class="flip-container">
                <div class="flipper clearfix">
                    <div class="front card item-text-wrapped">
                        <div class="top">
                            <img ng-src="img/kplogo.png" style="float:left;width:20%"><h2 style="color:white;margin-right:13%;font-size:90%" >My Reward Card</h2>
                        </div>
                        <div class="icon-holder" style="width: 17%;color: #F99237;font-family: tahoma;font-size: 123%;font-weight: bold;">A</div>
                        <div class="padding" style="color:black;height: 254px;clear:both;">
                            <p  style="color: #F99237;font-family: tahoma;font-size: 123%;font-weight: bold;">{{ProfileData.UserType.tostring() == paid ? 'PREMIUM MEMBER' : 'STANDERD MEMBER'}}</p>
                            <img ng-src="http://kontactpoints.com/{{ProfileData.Logo.replace('~', '').trim()}}" style="width:110px;height:110px !important;
                                 text-align: center;border-radius: 80px;border-style: groove;box-shadow: 0px 0px 0px 1px #0B467C;border-color: rgba(0, 0, 0, 0.24);
                                 border-width: 1px;">


                            <div style="color:black;font-weight:bold">  {{ProfileData.FirstName}}  {{ProfileData.LastName}} </div>
                        </div>



                    </div>
                    <div class="back card item-text-wrapped success">
                        <div class="top">
                            <img ng-src="img/kplogo.png" style="float:left;width:20%"><h2 style="color:white;margin-right:13%;font-size:90%" >My Profile Card</h2>
                        </div>
                        <div class="icon-holder" style="width: 17%;color: #F99237;font-family: tahoma;font-size: 123%;font-weight: bold;">B</div>
                        <div class="answer padding" style="color:black;height: 254px;overflow-y:auto;overflow-style:auto;scrollbar-3dlight-color:aqua;">

                            <div class="list" style="clear:both;">
                                <label class="item item-input">
                                    <span class="input-label">Email</span>
                                    {{ProfileData.Email}}
                                </label>
                                <label class="item item-input">
                                    <span class="input-label">City</span>
                                    {{ProfileData.City}}
                                </label>
                                <label class="item item-input">
                                    <span class="input-label">Website</span>
                                    {{ProfileData.website}}
                                </label>
                                <label class="item item-input">
                                    <span class="input-label">IM</span>
                                    {{ProfileData.IM}}
                                </label>
                                <label class="item item-input">
                                    <span class="input-label">Mobile</span>
                                    {{ProfileData.mobile}}
                                </label>
                                <label class="item item-input">
                                    <span class="input-label">ExtNo</span>
                                    {{ProfileData.ExtNo}}
                                </label>
                                <label class="item item-input">
                                    <span class="input-label">Address</span>
                                    {{ProfileData.Address}} , {{ProfileData.City}}
                                </label>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
