<ion-view  view-title="My Chain" cache-view="false" style="color:white !important;"> 


    <ion-content>


        <div class="row" >
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;"></div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;"></div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;">  
               
                    <img ng-src="img/profile.jpg" class="clipping-mask" style="display: block;
                     width: 100%;                      
                     background-size: 100%;
                     border-radius: 85px;                   
                     background-size: cover;                    
                     background-position: center;"/>                       
                   
              
                <div style="font-size:70%;position: absolute;font-weight: bold">Nikunj Patel</div>

            </div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;"></div>      
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;"></div>           

        </div>
        <div class="row" >
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;"> 

            </div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;">              
                     
                      <img ng-src="img/left-down-arrow.png" class="clipping-mask" style="display: block;
    width: 100%;"/>     
            </div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;">  

            </div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;"></div>      
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;">

            </div>           

        </div>       
        <div class="row" >
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;">  
                <div class="clipping-mask" style="display: block;
                     width: 100%;  
                     background: center center no-repeat #e31e25;
                     background-size: 100%;
                     border-radius: 85px;  
                     padding-top: 100.25%;
                     background-size: cover;
                     -moz-background-size: cover;
                     background-position: center;"></div>
                <div style="font-size: 70%;font-weight: bold;                    
                     position: absolute;
                     margin-top: -12%;
                     margin-left: 4%;
                     text-align: center;
                     max-width: 30px;color: white;">
                    1 LEVEL</div> 
                <div style="font-size:70%;position: absolute;font-weight:bold"><span style="float:left;">(1</span> <div class="ion-person-stalker" style="float:left;"></div><span style="float:left;">) KP (200</span> <div class="ion-soup-can" style="float:left;"></div>)</div>

            </div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;">

            </div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;">  
                <div class="clipping-mask" style="display: block;
                     width: 100%;  
                     background: center center no-repeat #43e31e;
                     background-size: 100%;
                     border-radius: 85px;  
                     padding-top: 100.25%;
                     background-size: cover;
                     -moz-background-size: cover;
                     background-position: center;"></div>
                <div style="font-size: 70%;font-weight: bold;                    
                     position: absolute;
                     margin-top: -12%;
                     margin-left: 4%;
                     text-align: center;
                     max-width: 30px;color: white;">
                    2 LEVEL</div> 
                <div style="font-size:70%;position: absolute;font-weight:bold"><span style="float:left;">(1</span> <div class="ion-person-stalker" style="float:left;"></div><span style="float:left;">) KP (0</span> <div class="ion-soup-can" style="float:left;"></div>)</div>

            </div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;"></div>      
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;border: none;">
                <div class="clipping-mask" style="display: block;
                     width: 100%;  
                     background: center center no-repeat #1e9be3;
                     background-size: 100%;
                     border-radius: 85px;  
                     padding-top: 100.25%;
                     background-size: cover;
                     -moz-background-size: cover;
                     background-position: center;"></div>
                <div style="font-size: 70%;font-weight: bold;                    
                     position: absolute;
                     margin-top: -12%;
                     margin-left: 4%;
                     text-align: center;
                     max-width: 30px;color: white;">
                    3 LEVEL</div>
                <div style="font-size:70%;position: absolute;font-weight:bold"><span style="float:left;">(1</span> <div class="ion-person-stalker" style="float:left;"></div><span style="float:left;">) KP (0</span> <div class="ion-soup-can" style="float:left;"></div>)</div>

            </div>           

        </div>

        <br>
        <div class="row">
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: ridge;"></div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: ridge;">Level 1</div> 
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;
                 border-right-color: white;
                 border-right-style: ridge;border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: ridge;"></div>

            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: ridge;
                 ">Level 2</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: ridge;
                 border-right-color: white;
                 border-right-style: ridge;
                 "></div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: ridge;">Level 3</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: ridge;"></div>
        </div>        

        <div class="row">
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;
                 border-right-color: white;
                 border-right-style: ridge;">Name</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;
                 border-right-color: white;
                 border-right-style: ridge;">Email</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;
                 border-right-color: white;
                 border-right-style: ridge;">Points</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;
                 border-right-color: white;
                 border-right-style: ridge;">Contacts</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;
                 border-right-color: white;
                 border-right-style: ridge;">Points</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;border-right: 1px;
                 border-right-color: white;
                 border-right-style: ridge;">Contacts</div>
            <div class="col" style="font-weight:bold;border-top: 0;border-bottom-width:2px;vertical-align: bottom;padding: 8px;
                 line-height: 1.42857143;background: #337ab7 !important;text-align: center;color: #fff;box-sizing: border-box;">Points</div>

        </div>

        <div class="row">
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;">safaltech</div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;">tech@safalinfotech.com</div>          
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;">200</div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;">0</div>          
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;">0</div>
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;">0</div>          
            <div class="col" style="border: 1px solid #ddd;color: #000 !important;">0</div> 
        </div>

    </ion-content>

</ion-view>
