<ion-view  view-title="My Message" cache-view="false" style="color:white !important;"> 


    <ion-content>
        <div class="list">
            <div class="row" >
                <div class="col"><ion-checkbox style="padding-left: 48px !important;text-overflow: inherit !important;    " id="isChecked1" ng-model="choice.isChecked1" name="isChecked1" ng-change="uncheckTheOtherOne1()">Inbox</ion-checkbox></div>
                <div class="col"><ion-checkbox style="padding-left: 48px !important;text-overflow: inherit !important;   " id="isChecked2" ng-model="choice.isChecked2" name="isChecked2" ng-change="uncheckTheOtherOne2()">Outbox</ion-checkbox></div>
            </div>
            <a class="item item-avatar" href="#" ng-repeat="x in MyMessageData">                    
                <img ng-show="x.photo!=null" ng-src="http://kontactpoints.com/{{x.photo.replace('~', '').trim()}}" style="border:1px;border-style: groove;">
                <img ng-show="x.photo==null" class="item-image" ng-src="img/kplogo.png" style="border:1px;border-style: groove;">
               
                <h2>{{x.Name}}  </h2>
                <button class="button icon-left ion-chevron-right button-clear button-dark" style="float:right;" ng-click="redirectMessageDetail(x.photo, x.SentBy, x.Message)"></button>          
<!--  <h2>({{x.SentBy}})</h2>-->
              <h2><p>{{x.CreatedDate| date:'dd/MM/yyyy HH:mm:ssa'}}</p></h2>
                <h2><p><span style="color:#8a6d3b;background-color: #fcf8e3;border-color:#faebcc;">{{x.MsgFlag}}</span> </p> </h2>
                <!--                <p>{{x.Message}}</p>              -->
            </a>          
            <div class="row" align="center">
                <h3 class="col" ng-show="MyMessageData == null">{{Message}}</h3>
            </div>
        </div>

    </ion-content>
    <div class="bar bar-footer">
        <div class="tabs tabs-icon-top" >
            <a class="tab-item " ng-href="#/app/composemessage">
                <i class="icon ion-compose"></i>
                Compose
            </a>
            <a class="tab-item active" ng-href="#/app/mymessage">
                <i class="icon ion-email"></i>
                View Message
            </a>
            <a class="tab-item" ng-href="#/app/creategroup">
                <i class="icon ion-person-add"></i>
                Create Group
            </a>
        </div>
    </div>
</ion-view>
