<ion-view view-title="Offer Detail" hide-back-button="false">
      
    <ion-content>
        <ion-slide-box  style="width:100%" auto-play="false" show-pager="false" >
            <ion-slide ng-repeat="iwtofferlist in iwtofferlists" class=" icon icon-accessory icon-right" >
                <div style="font-size: large;background-color: blue;color: white;width: 14%; font-weight: bold; border-radius: 97px; text-align: center;">{{shortform(iwtofferlist.BusinessName)}}</div>
                <div onload="seen()" >
                    <div style="text-align:center">{{iwtofferlist.BusinessName}}</div>
                    <div style="text-align:center"><img src="http://merchant.kontactpoints.com/{{iwtofferlist.OfferImagePath}}" style="width:100%;height:150px" ></div>
                    <div style="text-align:center">{{iwtofferlist.Status}}</div>
                    <div>                  
                        <div style="text-align: center">
                            <i class="icon ion-location"></i>                        
                            {{cal(iwtofferlist.merchantLat, iwtofferlist.merchantLong)}}M</div>
                    </div>
                    <div >
                        <div style="float:left;margin-right:5%;margin-left:10%">
                            <text>
                            LP:
                            </text>
                            <text>{{iwtofferlist.LP}}/$1</text>
                        </div>
                        <div style="float:left;margin-right:5%">
                            <text>
                            RW:
                            </text>
                            <text>
                            {{iwtofferlist.RW=true?"Yes":"No"}}                       
                            </text>
                        </div>
                        <div>
                            <text>
                            LW:
                            </text>
                            <text>
                            {{iwtofferlist.LW}}
                            </text>
                        </div>
                    </div>
                </div>
                <div style="margin-top:15%">
                    <button class="button button-balanced"  style=" border-radius: 20px;margin-right:50%" ng-click="accept(iwtofferlist.IwtOfferId)" ng-disabled="iwtofferlist.Status != 'OFFER'">
                        Accept
                    </button>
                    <button class="button button-assertive"  style=" border-radius: 20px;" ng-click="reject(iwtofferlist.IwtOfferId)" ng-disabled="iwtofferlist.Status != 'OFFER'">
                        Reject
                    </button>
                </div>
                <button  class="button button-block button-positive" style="width:60%;margin-left:20%" ng-click="chat(iwtofferlist.IwtId, iwtofferlist.MerchantId)">
                    <i class="icon ion-ios-chatboxes"></i>
                    chat with Merchant</button>
                <div style="text-align:center;margin-top:5%">
                    <button class="button icon-left ion-chevron-left  button-positive"  style="background-color:#387ef5;border-color: #204d74;"  ng-click="previous(iwtofferlists[$index - 1].IwtOfferId, iwtofferlists[$index - 1].OfferEndDate,iwtofferlists[$index - 1].IsSeen,$index)" ng-disabled="$index==0">
                        Previous
                    </button>
                    <button class="button icon-right ion-chevron-right  button-positive"  style=" background-color:#387ef5;border-color: #204d74;" ng-click="next(iwtofferlists[$index +1].IwtOfferId, iwtofferlists[$index + 1].OfferEndDate,iwtofferlists[$index + 1].IsSeen,$index)" ng-disabled="$index==iwtofferlists.length-1">
                        Next
                    </button>
                </div>
            </ion-slide>
        </ion-slide-box> 

    </ion-content>
</ion-view>