<ion-view view-title="PaymentList">
    <ion-nav-buttons side="right">    
        <button class="button" ng-click="filter()">
            <i class="ion ion-search"></i>
        </button>
    </ion-nav-buttons>
      <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view>
         <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
        <h1 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Payment Search</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeflilter()" style="color:#fff;text-align: center;    font-size: 100%;">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
    </ion-header-bar>
        <ion-content>
          <div style="text-align:center">  
       <ion-radio ng-repeat="item in paymentoption"
                               ng-value="item.value"
                               
                               ng-model="loc.cl" style="text-align:center;margin-left:25%;
                               font-size: 12px;width:50%;font-weight: bold;">
                        {{ item.text}}
                    </ion-radio>
          
          
            
                    <button class="button icon-right ion-chevron-right button-block button-positive"  style="
                            background-color: #286090;border-color: #204d74;width:50%;margin-left:25%;float:left;clear:none" ng-click="search()">
                        Search
                    </button>
                           </div>
        </ion-content>
        </ion-modal-view>
    </script>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="paymentlitst in paymentlitsts" >
                <div style="float:left;margin-right:10px;font-size:14px">Net Payment<br/>${{paymentlitst.NetPayment}}</div>
                <div style="float:left;font-size:14px">
                                          
                    {{paymentlitst.Name}}<br/>Total Amount:${{paymentlitst.TotalAMount}}</div><br/><br/>
            <hr/>
            <div style="float:left;margin-right:2%;margin-left:2%;font-size:14px">
                    <text>
                   Date:
                    </text>
                    <text>{{paymentlitst.Date.split('T')[0]}}</text>
                </div>
                <div style="float:left;margin-right:2%;margin-left:2%;font-size:14px">
                    <text>
                    LP:
                    </text>
                    <text>{{paymentlitst.LP}}/$1</text>
                </div>
                <div style="float:left;margin-right:5%;font-size:14px">
                    <text>
                    LW:
                    </text>
                    <text>
                    {{paymentlitst.LW}}                       
                    </text>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>