<ion-modal-view>
    <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
        <h1 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Update Promotion</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeupdate()" style="color:#fff;text-align: center;    font-size: 100%;">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Promotion Name</span>
                    <input type="text" ng-model="upromotion.proname">
                </label>


                <!--                <ion-radio ng-repeat="item in paymentoption"
                                           ng-value="item.value"
                                           ng-change="visbility(item.value)"
                                           ng-model="data.clientSide">
                                    {{ item.text}}
                                </ion-radio>-->
                <ion-radio 
                    value="no"

                    ng-model="data.clientSide">
                    Number of Offers
                </ion-radio>
                <div style="border-width:0px 1px 1px 1px;border-style:solid;border-color:#ddd; height:45px;" ng-show="data.clientSide == 'no' || data.clientSide == 'both'">
                    <input type="text" placeholder="Enter Number" ng-model="upromotion.noof" style="margin-bottom:-6px;border:2px inset silver;width:40%;float:left;margin-left:2px;margin-right:5px" >

                </div>
                <ion-radio 
                    value="dr"

                    ng-model="data.clientSide">
                    Date Range
                </ion-radio>
                <div style="border-width:0px 1px 1px 1px;border-style:solid;border-color:#ddd; height:45px;" ng-show="data.clientSide == 'dr' || data.clientSide == 'both'">
                    <input type="text" placeholder="Start Date" ng-model="upromotion.sdate" style="margin-bottom:-6px;border:2px inset silver;width:45%;float:left;margin-left:2px;margin-right:5px" >
                    <input type="text" placeholder="Last Date" ng-model="upromotion.edate" style="margin-bottom:-6px;border:2px inset silver;width:45%;float:left" >
                </div>
                <ion-radio 
                    value="both"

                    ng-model="data.clientSide">
                    Both
                </ion-radio>
                <div style="border-width:0px 1px 1px 1px;border-style:solid;border-color:#ddd; height:45px;">
                    <!--          <button class="button button-block button-positive" type="submit" style="    color: #fff;
                        background-color: #286090;
                        border-color: #204d74;">Log in</button>-->
                    <button class="button icon-right ion-chevron-right button-block button-positive"  style="
                            background-color: #286090;border-color: #204d74;" ng-click="dopromotion()">
                        Update
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>