<ion-view view-title="{{promtion.BusinessName}}" hide-back-button="false">
    <script id="my-popover.html" type="text/ng-template">
        <ion-popover-view>
        <ion-header-bar>
        <h1 class="title">Share Via</h1>
        </ion-header-bar>
        <ion-content>
        <button class="button" style="background: #444444;" ng-click="email()">
        <i class="icon ion-ios-email-outline"></i>
        </button>
        <button class="button" style="background: #3B5998;" ng-click="facebook()">
        <i class="icon ion-social-facebook-outline"></i>
        </button>
        <button class="button" style="background: #55acee;">
        <i class="icon ion-social-twitter-outline"></i>
        </button>
        <button class="button" style="background:#28A54C;" ng-click="whatsapp()">
        <i class="icon ion-social-whatsapp-outline"></i>
        </button>
        </ion-content>
        </ion-popover-view>
    </script>
    <ion-header-bar>
        hi
    </ion-header-bar>
    <ion-content>
        <style>
            .ion-android-star-outline,
            .ion-android-star:before {
                font-size: 60px;
                color:orange;
            }
        </style>

        <table style="width:100%">

            <tr>
                <td style="vertical-align: top;width:30%">
                    <div class="titlebar" style="margin-right:5%;font-size: 15px;line-height:35px;width:90%">
                        {{shortform(promtion.BusinessName)}}
                    </div>

                </td>

                <td>
                    <div class="titlebar">{{promtion.BusinessName}}</div>
                </td>
                <td style="vertical-align: top;">
                    <div class="titlebar" style="margin-left:10%;font-size: 15px;line-height: 35px;background: transparent" ng-click="share($event)">
                        <img src="img/share.png" style="height:25px">
                    </div>


                </td>
            </tr>
            <tr style="height:100%">
                <td colspan="3" style="margin-bottom:10%;height:100%">
                    <img src="{{promtion.TemplateImage}}" alt="" style="width:90%;height:250px;margin-left: 5%;margin-bottom:2px"/>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center;font-weight:bold;font-size:30px">
                    <text ng-bind-html="promtion.OfferName|nl2br" style="font-size: 19px;">  <text>
                </td>
            </tr>
              <tr>
                <td colspan="3" style="text-align:center;font-weight:bold;font-size:19px">
                    {{promtion.DealName}}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;" colspan="3">
                    <div class='time-to' ng-hide="{{promtion.StartDate==promtion.EndDate}}" style="text-align:center; text-align: center;margin-top:5px;
                         font-family: Bangers;
                         color: red;
                         font-size: 35px;
                         letter-spacing: 2px;">
                        <img src="img/flipper{{img1}}.png">
                        <img src="img/flipper{{img2}}.png">
                        <img src="img/flipper{{img3}}.png">
                        <img src="img/flipper{{img4}}.png">
                        <img src="img/flipper{{img5}}.png">
                        <img src="img/flipper{{img6}}.png">
                        <img src="img/flipper{{img7}}.png">
                        <img src="img/flipper{{img8}}.png">
                        <img src="img/flipper{{img9}}.png">                  
                    </div>
                    <div ng-hide="{{promtion.StartDate!==promtion.EndDate}}" style="text-align:center;margin-top:5px;" >
                        <div ALIGN="CENTER" STYLE="   
                          "> <SPAN><text style="text-align:center;font-weight:bold;font-size:12px;margin-bottom:5px;">Remaining Offer :</text></SPAN>
                         <img src="img/flipper{{img1}}.png">
                        <img src="img/flipper{{img2}}.png">
                        <img src="img/flipper{{img3}}.png"></div>
                       
                    </div>
                    <hr/>
                    <div style="text-align:center;margin-bottom: 37px;" >
                        <div style="float:left;margin-right:5%;margin-left:25%">
                            <text>
                            LP:
                            </text>
                            <text>1/$1</text>
                        </div>
                        <div style="float:left;margin-right:3%">
                            <text>
                            RW:
                            </text>
                            <text>
                            Yes                       
                            </text>
                        </div>
                        <div style="float:left">
                            <text>
                            LW:
                            </text>
                            <text>
                            373
                            </text>
                        </div>
                    </div>
                    <hr/>
                </td>               

            </tr>
            <tr>

                <td colspan="3"  style="text-align:left">
                    <!--                    <button class="button  button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:32%;float:left;clear:none;margin-left:1%;text-align:center;font-size:10px" ng-click="direction()" >
                                            <i class="icon ion-ios-navigate"></i>
                                            Get Direction
                                        </button>-->
                    <button class="button   button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:32%;float:left;clear:none;margin-left: 1%;text-align:center;font-size:10px" ng-click="chat()" >
                        <i class="icon ion-ios-chatboxes"></i>
                        MerchantChat
                    </button>
                    <div>
                        <a href="tel:+91 {{promtion.Phone}}" class="button button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:32%;float:left;clear:none;margin-left: 1%;font-size:10px" >
                            <i class="icon ion-android-call"></i>
                            Call Merchant
                        </a>
                    </div>
                    <button class="button   button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:32%;float:left;clear:none;margin-left: 1%;text-align:center;font-size:15px" ng-click="timetable()" >

                        StoreTime
                    </button>
                    <!--                    <button class="button   button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:32%;float:left;clear:none;margin-left: 1%;text-align:center;font-size:15px" ng-click="address()" >
                    
                                            Merchant Address
                                        </button>-->

                    <!--                    <a href="tel:+919979158182" class="button  button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:70%;float:left;clear:none;margin-left: 15%" >
                                            <i class="icon ion-android-call"></i>
                                            Call Merchant
                                        </a>-->

                </td>

            </tr>
<!--            <tr>
                <td colspan="3">
                    <div style="text-align:center;margin-left:25%">
                        <div style="clear:none;float:left">
                            <i class="{{clstar1}}"></i>
                        </div>
                        <div style="clear:none;float:left">
                            <i class="{{clstar2}}"></i>
                        </div>
                        <div style="clear:none;float:left">
                            <i class="{{clstar3}}"></i>
                        </div>
                    </div>

                </td>
            </tr>-->
        </table>
    </ion-content>
</ion-view>