<ion-view>
    <ion-content>
        <div class="ionic-body">	
            <div class="content loginpage-wrap">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <div class="list login-bg2">
                    <h6></h6>
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Firstname">
                        </label>
                    </div>
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Lastname">
                        </label>
                    </div>
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Email Address">
                        </label>
                    </div>
                    <div class="list2">

                        <label class="item item-select">

                            <select>
                                <option selected>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </label>
                    </div>
                    <div class="list2">

                        <label class="item item-select">

                            <select>
                                <option selected>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </label>
                    </div>
                    <div class="list">
                        <label class="item item-input-post">
                            <input type="text" placeholder="Postcode">
                        </label>
                    </div>
                    <div class="padding2">
                        <button class="sign-in-btn2" ng-click="signin()">Sign In</button>
                    </div>


                </div>
            </div>
        </div>
    </ion-content>
</ion-view>