<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>             
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        
        
        <div class="row">
                                <header class="jumbotron hero-spacer">
                                        <h4 class="page-header text-center" style="font-family">CELEBRITY OF THE WEEK</h4>
                                         <div class="panel-body">
                                <div class="text-center" style="padding: 25px;margin-bottom:-65px">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                       <img id="Imageselfie" src="Images/Selfie/74.jpg" style="height:100px;width:100px;">
                                    </div> 
                                    <div class="col-md-6" id="author">
                                       
                                       <h5 class="text-center" style="margin-bottom: 5px;margin-bottom: 5px;">Abhishek Soni</h5>
                                      <small class="label label-warning"> From <font class="text-uppercase">India</font></small>
                                          
                                        <p class="sosmed-author">
                                            <a href="https://www.facebook.com/Youonthefloorcom-1438511343027022"><i class="fa fa-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></i></a><a href="https://twitter.com/theyotf"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></i></a><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></i></a><a href="#"><i class="fa fa-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></i></a>
                                        </p>

                                        
                                      
                                    </div><br>
                                    
                                        <p class="text-center">(Busines man - Pune, India)</p>

                                        <div id="ASKQUEST">
                                            
                                                <div id="askspan">
                                                <p class="text-center ">
                                             </p><div class="alert alert-info alert-square alert-dismissable">
                               
                                   <a href="javascript:void(0)" onclick="fnask();" style="text-decoration:none; color:white; font-size:large"> <strong><i class="fa fa-comment" data-original-title="" title=""></i>Ask Question to </strong> Abhishek Soni</a>
                                </div>
                                         <p></p>
                                                
                                                </div>
                                               
                                            <div>
                                                <input name="alike" type="button" id="alike" value=" Be a Fan " onclick="beafriend('0','74','I have became a Fan of yours');" class="btn btn-success btn-large" data-original-title="" title="">
                                            </div>
                                            
                                            
                                            
                                             
                                            <div id="lblfanspan1" visible="false"></div>
                                                      
                                           </div>
                                           <br>
                                        <div id="trAsk" style="display: none;">
                                        <textarea name="txtQuest" rows="2" cols="20" id="txtQuest" class="form-control"></textarea><br>
                                        <button type="button" id="btnAsk" value="Ask Now" onclick="btnask();" class="btn btn-success btn-large" data-original-title="" title=""><i class="fa fa-comment" data-original-title="" title=""></i>Ask Now</button>
                                        
                                        <div>
                                        
                                        <div id="lblerr1"></div>
                                        </div>
                                                                                                
                                        <div>
                                        
                                       </div> 

                                  </div> 
                                   <div id="lblfff"></div>
                                </div>   
                            </div>
                                         
                                      
                                    </header>
                            </div>
        
        
        
        
        
        
        
    </body>
</html>
