<ion-modal-view>
   
    <ion-header-bar style="border-bottom:1px solid #e5e5e5;background: #337ab7;border-radius: 4px 4px 0 0;">
        <h1 class="title" style="color:#fff;text-align: center;    font-size: 121%;">Store Time Schedule</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closetable()" style="color:#fff;text-align: center;    font-size: 100%;">
                <i class="icon ion-close-circled"></i>
            </button>          
        </div>
    </ion-header-bar>
    <ion-content>
        <div style="text-align:center">{{promtion.BusinessName}}</div>
        <div style="color: #EF7301;font-family: 'AgencyFBRegular';font-size:22px;vertical-align:middle;text-align:center">
            <div style="text-align:center;font-size:14px">
            <text style="font-size:14px"> {{promtion.City=="Select City"?"":promtion.City+","}}</text><br/>
            </div>
            <div  style="font-size:14px">
            <text> {{promtion.Street2==""?"":promtion.Street2}}</text>
            {{ promtion.Street1 + "-" + promtion.ZipCode}}  </div>    </div>
        <div>
            <table style="text-align:center;width:100%;clear:both">
                <tr>
                    <td>Monday</td>
                    <td>{{mon}}</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>{{tue}}</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>{{wed}}</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>{{thu}}</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>{{fri}}</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>{{sat}}</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>{{sun}}</td>
                </tr>
            </table>
            <div >
                <button class="button   button-block button-positive"  style="background-color: #286090;border-color: #204d74;width:50%;float:left;clear:none;margin-left: 25%;text-align:center;font-size:15px" ng-click="map()" >
                    <i class="icon ion-ios-location"></i>
                    Get Direction
                </button>
            </div>
            <!--        <table style="width:100%;height:100%">
                        <tr>
                            <td id="tt"></td>
                            <td id="tt" style="">Opening Time</td>
                            <td id="tt">Closing Time</td>
                            <td id="tt">Status</td>
                        </tr>
                        <tr>
                            <td id="tl">MON</td>
                            <td id="tx">{{timetable1.Monday_StartTime}}</td>
                            <td id="tx">{{timetable1.Monday_EndTime}}</td>
                            <td id="tx">{{timetable1.Monday_StartTime==""?"Close":"Open"}}</td>
                        </tr>
                        <tr>
                            <td id="tl">TUE</td>
                            <td id="tx">{{timetable1.Tuesday_StartTime}}</td>
                            <td id="tx">{{timetable1.Tuesday_EndTime}}</td>
                            <td id="tx">{{timetable1.Tuesday_StartTime==""?"Close":"Open"}}</td>
                        </tr>
                        <tr>
                            <td id="tl">WED</td>
                            <td id="tx">{{timetable1.Wednesday_StartTime}}</td>
                            <td id="tx">{{timetable1.Wednesday_EndTime}}</td>
                            <td id="tx">{{timetable1.Wednesday_StartTime==""?"Close":"Open"}}</td>
                        </tr>
                        <tr>
                            <td id="tl">THU</td>
                            <td id="tx">{{timetable1.Thursday_StartTime}}</td>
                            <td id="tx">{{timetable1.Thursday_EndTime}}</td>
                            <td id="tx">{{timetable1.Thursday_StartTime==""?"Close":"Open"}}</td>
                        </tr>
                        <tr>
                            <td id="tl">FRI</td>
                            <td id="tx">{{timetable1.Friday_StartTime}}</td>
                            <td id="tx">{{timetable1.Friday_EndTime}}</td>
                            <td id="tx">{{timetable1.Friday_StartTime==""?"Close":"Open"}}</td>
                        </tr>
                        <tr>
                            <td id="tl">SAT</td>
                            <td id="tx">{{timetable1.Saturday_StartTime}}</td>
                            <td id="tx">{{timetable1.Saturday_EndTime}}</td>
                            <td id="tx">{{timetable1.Saturday_StartTime==""?"Close":"Open"}}</td>
                        </tr>
                        <tr>
                            <td id="tl">SUN</td>
                            <td id="tx">{{timetable1.Sunday_StartTime}}</td>
                            <td id="tx">{{timetable1.Sunday_EndTime}}</td>
                            <td id="tx">{{timetable1.Sunday_StartTime==""?"Close":"Open"}}</td>
                        </tr>
                        <tr>
                            <td id="tl">Other</td>
                            <td id="tx">{{timetable1.Other_StartTime}}</td>
                            <td id="tx">{{timetable1.Other_EndTime}}</td>
                            <td id="tx">{{timetable1.Other_StartTime==""?"Close":"Open"}}</td>
                        </tr>
                    </table>-->
    </ion-content>
</ion-modal-view>