body{
	margin:0px;
	padding:0px;
}
.font020 span{ vertical-align:4px; padding-left:5px;}
@media(min-width:1024px) and (max-width:1920px) {
.act{
	width:100%;
	height:74px;
	background-color:#f0f0f0;
}

.d1{
	float:left;
	width:10%;
	height:74px;
}
.d11{
	float:left;
	width:6%;
	height:74px;
	background:url(../images/bg_18.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.d2{
	float:left;
	width:86%;
	height:74px;
	margin-left:12px;
}
.d21{
	width:50%;
	float:left;
	height:46px;
}
.d22{
	margin-top:20px;
	width:50%;
	float:left;
}
.d23{
	width:100%;
	height:2px;
	background:url(../images/bg02.png) center;
	background-position:center;
	background-repeat:repeat-x;
	background-size:1px;
	float:left;
}
.d33{
	float:right;
	width:6%;
	height:74px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.font010{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:7px;
	margin-top:8px;
}
.fblack{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
}
.image01{
	height:5%;
	width:5%;
}
.mrg001{
	margin-left:42px;
}
.font020{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#868686;
	
}
.font020 span{ vertical-align:4px; padding-left:5px;}
.buto{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:2px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto2{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto3{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/orangec_11.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto4{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/redc_14.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.font05{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.font05 b{font-size:16px;}
.bg18{
	width:27px !important;
	height:33px !important;
	margin-left:12px;
	background-size:contain !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/mdown_17.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg19{
	width:36px !important;
	height:29px !important;
	margin-left:8px;
	background-size:29px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/globe_28.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg20{
	width:34px !important;
	height:29px !important;
	margin-left:10px;
	background-size:29px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/act_34.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg21{
	width:34px !important;
	height:29px !important;
	margin-left:15px;
	background-size:25px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/play_38.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg22{
	width:34px !important;
	height:29px !important;
	margin-left:7px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/right_07.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg23{
	width:34px !important;
	height:29px !important;
	margin-left:7px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/unread_11.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg24{
	width:34px !important;
	height:29px !important;
	margin-left:16px;
	background-size:16px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/reject_15.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.font06{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7;
}
.tot-amt{margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7; margin-bottom:10px;}
.font07{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#868686;
	
}
.font08{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#868686;
	line-height:.6;
}
.font007{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#868686;
	
}
.fbg{
	height:43px;
	margin-top:3px;
	background:url(../images/bg001_13.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.fbg1{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/prev_07.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:0px;
}
.fbg2{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/next_10.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:right;
}
}
@media(min-width:769px) and (max-width:1023px) {
	.act{
	width:100%;
	height:74px;
	background-color:#f0f0f0;
}

.d1{
	float:left;
	width:10%;
	height:74px;
}
.d11{
	float:left;
	width:8%;
	height:74px;
	background:url(../images/bg_18.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.d2{
	float:left;
	width:80%;
	height:74px;
	margin-left:12px;
}

.d33{
	float:right;
	width:8% !important;
	height:74px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.buto{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:2px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto2{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.font05{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.font05 b{font-size:16px;}
.bg18{
	width:28px !important;
	height:29px !important;
	margin-left:10px;
	background-size:20px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/mdown_17.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg19{
	width:28px !important;
	height:29px !important;
	margin-left:0px;
	background-size:29px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/globe_28.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg20{
	width:28px !important;
	height:29px !important;
	margin-left:5px;
	background-size:29px !important;
	margin-top:-1px;
	background-position:center center;
	background:url(../images/act_34.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg21{
	width:28px !important;
	height:29px !important;
	margin-left:10px;
	background-size:25px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/play_38.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.font06{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7;
}
.tot-amt{margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7; margin-bottom:10px;}
.font07{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#868686;
}
.font08{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#868686;
	line-height:.6;
}
.font007{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#868686;
	
}
.fbg{
	height:43px;
	margin-top:3px;
	background:url(../images/bg001_13.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.fbg1{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/prev_07.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:0px;
}
.fbg2{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/next_10.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:right;
}
.d21{
	width:50%;
	float:left;
	height:46px;
}
.d22{
	margin-top:20px;
	width:50%;
	float:left;
}
.d23{
	width:100%;
	height:2px;
	background:url(../images/bg02.png) center;
	background-position:center;
	background-repeat:repeat-x;
	background-size:1px;
	float:left;
}
.d33{
	float:right;
	width:6%;
	height:80px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.font010{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:7px;
	margin-top:8px;
}
.image01{
	height:5%;
	width:5%;
}
.mrg001{
	margin-left:13px;
}
.font020{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#868686;
	
}
.bg22{
	width:34px !important;
	height:29px !important;
	margin-left:7px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/right_07.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg23{
	width:34px !important;
	height:29px !important;
	margin-left:7px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/unread_11.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg24{
	width:34px !important;
	height:29px !important;
	margin-left:16px;
	background-size:16px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/reject_15.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.buto3{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:2px;
	background:url(../images/orangec_11.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto4{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/redc_14.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
}
@media(min-width:680px) and (max-width:768px) {
	.act{
	width:100%;
	height:74px;
	background-color:#f0f0f0;
}

.d1{
	float:left;
	width:10%;
	height:74px;
}
.d11{
	float:left;
	width:9%;
	height:74px;
	background:url(../images/bg_18.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.d2{
	float:left;
	width:80%;
	height:74px;
	margin-left:12px;
}

.d33{
	float:right;
	width:10%;
	height:74px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.buto{
	border:none;
	width:92%;
	height:57px;
	margin-top:6px;
	margin-left:2px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto2{
	border:none;
	width:92%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.font05{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.bg18{
	width:28px !important;
	height:29px !important;
	margin-left:12px;
	background-size:20px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/mdown_17.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg19{
	width:28px !important;
	height:29px !important;
	margin-left:1px;
	background-size:29px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/globe_28.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg20{
	width:28px !important;
	height:29px !important;
	margin-left:5px;
	background-size:29px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/act_34.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg21{
	width:28px !important;
	height:29px !important;
	margin-left:15px;
	background-size:25px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/play_38.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.font06{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7;
}
.tot-amt{margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7; margin-bottom:10px;}
.font07{
	margin-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#868686;

}
.font08{
	margin-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#868686;
	line-height:.6;
}
.font007{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#868686;
	
}
.fbg{
	height:43px;
	margin-top:3px;
	background:url(../images/bg001_13.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.fbg1{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/prev_07.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:0px;
}
.fbg2{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/next_10.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:right;
}
.d21{
	width:50%;
	float:left;
	height:46px;
}
.d22{
	margin-top:20px;
	width:50%;
	float:left;
}
.d23{
	width:100%;
	height:2px;
	background:url(../images/bg02.png) center;
	background-position:center;
	background-repeat:repeat-x;
	background-size:1px;
	float:left;
}
.d33{
	float:right;
	width:9% !important;
	height:74px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.font010{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:7px;
	margin-top:12px;
}
.image01{
	height:5%;
	width:5%;
}
.mrg001{
	margin-left:13px;
}
.font020{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#868686;
	
}
.bg22{
	width:34px !important;
	height:29px !important;
	margin-left:7px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/right_07.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg23{
	width:34px !important;
	height:29px !important;
	margin-left:7px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/unread_11.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg24{
	width:34px !important;
	height:29px !important;
	margin-left:16px;
	background-size:16px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/reject_15.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.buto3{
	border:none;
	width:92%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/orangec_11.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto4{
	border:none;
	width:92%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/redc_14.png);
	background-repeat:no-repeat;
	background-size:100%; 100%;
	background-position:center;
}
}
@media(min-width:480px) and (max-width:679px) {
		.act{
	width:100%;
	height:75px;
	background-color:#f0f0f0;
}

.d1{
	float:left;
	width:10%;
	height:75px;
}
.d11{
	float:left;
	width:11%;
	height:75px;
	background:url(../images/bg_18.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.d2{
	float:left;
	width:70%;
	height:75px;
	margin-left:12px;
}

.d33{
	float:right;
	width:12% !important;
	height:75px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.buto{
	border:none;
	width:88%;
	height:57px;
	margin-top:6px;
	margin-left:2px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto2{
	border:none;
	width:82%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.font05{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
.bg18{
	width:28px !important;
	height:29px !important;
	margin-left:12px;
	background-size:20px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/mdown_17.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg19{
	width:28px !important;
	height:29px !important;
	margin-left:1px;
	background-size:29px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/globe_28.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg20{
	width:28px !important;
	height:29px !important;
	margin-left:5px;
	background-size:29px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/act_34.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg21{
	width:28px !important;
	height:29px !important;
	margin-left:15px;
	background-size:25px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/play_38.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.font06{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7;
}
.tot-amt{margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7; margin-bottom:10px;}
.font07{
	margin-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#868686;

}
.font08{
	margin-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#868686;
	line-height:.6;
}
.font007{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#868686;
	
}
.fbg{
	height:43px;
	margin-top:3px;
	background:url(../images/bg001_13.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.fbg1{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/prev_07.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:0px;
}
.fbg2{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/next_10.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:right;
}
.d21{
	width:50%;
	float:left;
	height:46px;
}
.d22{
	margin-top:20px;
	width:50%;
	float:left;
}
.d23{
	width:100%;
	height:2px;
	background:url(../images/bg02.png) center;
	background-position:center;
	background-repeat:repeat-x;
	background-size:1px;
	float:left;
}
.d33{
	float:right;
	width:10%;
	height:75px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.font010{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:7px;
	margin-top:12px;
}
.image01{
	height:15%;
	width:15%;
}
.mrg001{
	margin-left:13px;
}
.font020{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#868686;
	
}
.bg22{
	width:34px !important;
	height:29px !important;
	margin-left:3px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/right_07.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg23{
	width:34px !important;
	height:29px !important;
	margin-left:7px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/unread_11.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg24{
	width:34px !important;
	height:29px !important;
	margin-left:12px;
	background-size:16px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/reject_15.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.buto3{
	border:none;
	width:88%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/orangec_11.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto4{
	border:none;
	width:88%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/redc_14.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
}
@media(min-width:319px) and (max-width:479px) {
		.act{
	width:100%;
	height:60px;
	background-color:#f0f0f0;
}

.d1{
	float:left;
	width:10%;
	height:63px;
}
.d11{
	float:left;
	width:17%;
	height:63px;
	background:url(../images/bg_18.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.d2{
	float:left;
	width:60%;
	height:63px;
	margin-left:12px;
}

.d33{
	float:right;
	width:16% !important;
	height:63px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.buto{
	border:none;
	width:90%;
	height:48px;
	margin-top:6px;
	/*margin-left:10px;*/
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto2{
	border:none;
	width:79%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.font05{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
.font05 b{font-size:13px;}
.bg18{
	width:28px !important;
	height:25px !important;
	margin-left:7px;
	background-size:17px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/mdown_17.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg19{
	width:28px !important;
	height:23px !important;
	margin-left:5px;
	background-size:24px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/globe_28.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg20{
	width:28px !important;
	height:26px !important;
	margin-left:5px;
	background-size:26px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/act_34.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg21{
	width:28px !important;
	height:25px !important;
	margin-left:7px;
	background-size:22px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/play_38.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.font06{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	line-height:.7;
}
.tot-amt{margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	line-height:.7; margin-bottom:10px;}
.font07{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
	color:#868686;

}
.font08{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
	color:#868686;
	line-height:.6;
}
.font007{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#868686;
	
}
.fbg{
	height:43px;
	margin-top:3px;
	background:url(../images/bg001_13.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.fbg1{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/prev_07.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:0px;
}
.fbg2{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/next_10.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:right;
}
.d21{
	width:50%;
	float:left;
	height:46px;
}
.d22{
	margin-top:20px;
	width:50%;
	float:left;
}
.d23{
	width:100%;
	height:2px;
	background:url(../images/bg02.png) center;
	background-position:center;
	background-repeat:repeat-x;
	background-size:1px;
	float:left;
}
.d33{
	float:right;
	width:17% !important;
	height:63px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.font010{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:5px;
	margin-top:12px;
}
.image01{
	height:16%;
	width:16%;
	padding-bottom:3px;
}
.mrg001{
	margin-left:-3px;
}
.font020{
	font-family:Arial, Helvetica, sans-serif;
	font-size:55%;
	color:#868686;
	
}
.bg22{
	width:34px !important;
	height:29px !important;
	margin-left:3px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/right_07.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg23{
	width:24px !important;
	height:29px !important;
	margin-left:3px;
	background-size:25px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/unread_11.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg24{
	width:20px !important;
	height:29px !important;
	margin-left:3px;
	background-size:16px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/reject_15.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.buto3{
	border:none;
	width:79%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/orangec_11.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto4{
	border:none;
	width:79%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/redc_14.png);
	background-repeat:no-repeat;
	background-size:100%; 100%;
	background-position:center;
}
}
@media(min-width:220px) and (max-width:318px) {
	.act{
	width:100%;
	height:74px;
	background-color:#f0f0f0;
}

.d1{
	float:left;
	width:10%;
	height:74px;
}
.d11{
	float:left;
	width:20%;
	height:74px;
	background:url(../images/bg_18.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.d2{
	float:left;
	width:60%;
	height:74px;
	
}

.d33{
	float:right;
	width:20%;
	height:74px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.buto{
	border:none;
	width:88%;
	height:57px;
	margin-top:6px;
	margin-left:2px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto2{
	border:none;
	width:88%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.font05{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
.bg18{
	width:28px !important;
	height:27px !important;
	margin-left:10px;
	background-size:18px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/mdown_17.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg19{
	width:28px !important;
	height:27px !important;
	margin-left:0px;
	background-size:27px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/globe_28.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg20{
	width:28px !important;
	height:26px !important;
	margin-left:5px;
	background-size:26px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/act_34.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg21{
	width:28px !important;
	height:26px !important;
	margin-left:10px;
	background-size:21px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/play_38.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.font06{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#000;
	line-height:.7;
}
.tot-amt{margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#000;
	line-height:.7; margin-bottom:10px;}
.font07{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:5px;
	color:#868686;

}
.font08{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:5px;
	color:#868686;
	line-height:.6;
}
.font007{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:6px;
	color:#868686;
	
}
.fbg{
	height:43px;
	margin-top:3px;
	background:url(../images/bg001_13.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.fbg1{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/prev_07.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:0px;
}
.fbg2{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/next_10.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:right;
}
.d21{
	width:50%;
	float:left;
	height:46px;
}
.d22{
	margin-top:20px;
	width:50%;
	float:left;
	font-size:7px;
}
.d23{
	width:100%;
	height:2px;
	background:url(../images/bg02.png) center;
	background-position:center;
	background-repeat:repeat-x;
	background-size:1px;
	float:left;
}
.d33{
	float:right;
	width:17% !important;
	height:68px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.font010{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:5px;
	margin-top:19px;
}
.image01{
	height:16%;
	width:16%;
}
.mrg001{
	margin-left:-3px;
	height:80%;
	width:80%;
}
.font020{
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#868686;
	
}
.bg22{
	width:34px !important;
	height:29px !important;
	margin-left:3px;
	background-size:17px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/right_07.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg23{
	width:18px !important;
	height:29px !important;
	margin-left:0px;
	background-size:19px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/unread_11.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg24{
	width:34px !important;
	height:29px !important;
	margin-left:11px;
	background-size:10px !important;
	margin-top:3px;
	background-position:center center;
	background:url(../images/reject_15.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.buto3{
	border:none;
	width:79%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/orangec_11.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto4{
	border:none;
	width:79%;
	height:57px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/redc_14.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
}
@media(min-width:100px) and (max-width:219px) {
	.act{
	width:100%;
	height:68px;
	background-color:#f0f0f0;
}

.d1{
	float:left;
	width:10%;
	height:68px;
}
.d11{
	float:left;
	width:20%;
	height:68px;
	background:url(../images/bg_18.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.d2{
	float:left;
	width:60%;
	height:68px;
}

.d33{
	float:right;
	width:20%;
	height:68px;
	background:url(../images/bg_05.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:right;
}
.buto{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:2px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto2{
	border:none;
	width:92%;
	height:67px;
	margin-top:6px;
	margin-left:5px;
	background:url(../images/bg03_19.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.font05{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
.bg18{
	width:28px !important;
	height:29px !important;
	margin-left:12px;
	background-size:20px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/mdown_17.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg19{
	width:28px !important;
	height:29px !important;
	margin-left:8px;
	background-size:29px !important;
	margin-top:4px;
	background-position:center center;
	background:url(../images/globe_28.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg20{
	width:28px !important;
	height:29px !important;
	margin-left:10px;
	background-size:29px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/act_34.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.bg21{
	width:28px !important;
	height:29px !important;
	margin-left:15px;
	background-size:25px !important;
	margin-top:2px;
	background-position:center center;
	background:url(../images/play_38.png);
	display:inline-block;
	background-repeat:no-repeat;
}
.font06{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7;
}
.tot-amt{margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	line-height:.7; margin-bottom:10px;}
.font07{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#868686;

}
.font08{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#868686;
	line-height:.6;
}
.font007{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:6px;
	color:#868686;
	
}
.fbg{
	height:43px;
	margin-top:3px;
	background:url(../images/bg001_13.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.fbg1{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/prev_07.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:0px;
}
.fbg2{
	float:left;
	width:4%;
	height:43px;
	margin-top:-1px;
	background:url(../images/next_10.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	float:right;
}
.buto3{
	border:none;
	width:85%;
	height:60px;
	margin-top:6px;
	margin-left:10px;
	background:url(../images/orangec_11.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
.buto4{
	border:none;
	width:85%;
	height:60px;
	margin-top:6px;
	margin-left:10px;
	background:url(../images/redc_14.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
}
}