body{
	margin:0px;
	padding:0px;
}
@media(min-width:1024px) and (max-width:1920px) {
.cht{
	width:100%;
	height:60px;
}
.sp{
	float:left;
	width:8%;
	height:60px
}

.cht1{
	float:left;
	margin-top:38px;
	margin-bottom:38px;
	margin-left:15px;
	margin-right:15px;
	width:22%;
	height:60px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30% 100%;
}
.cht2{
	float:left;
	margin-top:38px;
	margin-bottom:38px;
	margin-left:15px;
	margin-right:15px;
	width:22%;
	height:60px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30% 100%;
}
.cht3{
	float:left;
	margin-top:38px;
	margin-bottom:38px;
	margin-left:15px;
	margin-right:15px;
	width:22%;
	height:60px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30% 100%;
}
.cht4{
	float:left;
	margin-top:38px;
	margin-bottom:38px;
	margin-left:15px;
	margin-right:15px;
	width:22%;
	height:60px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30% 100%;
}
.gman{
	margin-top:7px;
	width:15%;
	height:40px;
	background:url(../images/gman_09.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.gwo{
	margin-top:7px;
	width:15%;
	height:40px;
	background:url(../images/gwo_19.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.owo{
	margin-top:7px;
	width:15%;
	height:40px;
	background:url(../images/owo_06.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.oman{
	margin-top:7px;
	width:15%;
	height:40px;
	background:url(../images/oman_12.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
}
@media(min-width:769px) and (max-width:1023px) {
	.cht{
	width:100%;
	height:60px;
}
.sp{
	float:left;
	width:8%;
	height:60px
}

.cht1{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:39px;
	margin-right:39px;
	width:15%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.cht2{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:39px;
	margin-right:39px;
	width:15%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.cht3{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:39px;
	margin-right:39px;
	width:15%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.cht4{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:39px;
	margin-right:39px;
	width:15%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.gman{
	margin-top:23px;
	width:25%;
	height:40px;
	background:url(../images/gman_09.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.gwo{
	margin-top:23px;
	width:25%;
	height:40px;
	background:url(../images/gwo_19.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.owo{
	margin-top:23px;
	width:25%;
	height:40px;
	background:url(../images/owo_06.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.oman{
	margin-top:23px;
	width:25%;
	height:40px;
	background:url(../images/oman_12.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
}
@media(min-width:480px) and (max-width:768px) {
		.cht{
	width:100%;
	height:60px;
}
.cht1{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:16px;
	margin-right:10px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:85% 100%;
}
.cht2{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:16px;
	margin-right:10px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:85% 100%;
}
.cht3{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:16px;
	margin-right:10px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:85% 100%;
}
.cht4{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:16px;
	margin-right:10px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:85% 100%;
}
.gman{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/gman_09.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.gwo{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/gwo_19.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.owo{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/owo_06.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.oman{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/oman_12.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
}
@media(min-width:320px) and (max-width:479px) {
			.cht{
	width:100%;
	height:60px;
}
.cht1{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:7px;
	margin-right:7px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:85% 100%;
}
.cht2{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:7px;
	margin-right:7px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:85% 100%;
}
.cht3{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:7px;
	margin-right:7px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:85% 100%;
}
.cht4{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:7px;
	margin-right:7px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:85% 100%;
}
.gman{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/gman_09.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.gwo{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/gwo_19.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.owo{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/owo_06.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.oman{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/oman_12.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
}
@media(min-width:100px) and (max-width:319px) {
				.cht{
	width:100%;
	height:60px;
}
.cht1{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:6px;
	margin-right:6px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 85%;
}
.cht2{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:6px;
	margin-right:6px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 85%;
}
.cht3{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:6px;
	margin-right:6px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 85%;
}
.cht4{
	float:left;
	margin-top:18px;
	margin-bottom:20px;
	margin-left:6px;
	margin-right:6px;
	width:20%;
	height:90px;
	background:url(../images/grbg_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 85%;
}
.gman{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/gman_09.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.gwo{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/gwo_19.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.owo{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/owo_06.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
.oman{
	margin-top:23px;
	width:30%;
	height:40px;
	background:url(../images/oman_12.png);
	background-position:center;
	background-repeat:repeat;
	background-size:100% 100%;
}
}