body{
	margin:0px;
	padding:0px;
}
@media(min-width:1024px) and (max-width:1920px) {
.lwr1{
	padding-top:5px;
	padding-bottom:5px;
	width:20%;
	height:30px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
.lwr2{
		padding-top:5px;
	padding-bottom:5px;
	float:left;
	width:60%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr3{
	padding-top:20px;
	padding-bottom:20px;
	float:left;
	width:100%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr4{
	margin-top: 0px;
	float: left;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr5{
	margin-bottom:10px;
	float:left;
	width:50%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
.lwr6{
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	width: 50%;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr7{
	margin-top:20px;
	margin-bottom:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.lwr8{
	float:left;
	width:50%;
	height:50px;
}
.lwr8 .em{
	width:100%;
	height:50px;
	background:url(../images/email_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr9{
	float:left;
	width:50%;
	height:50px;
}
.lwr9 .pr{
	width:100%;
	height:50px;
	background:url(../images/print_05.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr001{
	height:60px;
	width:100%;
	margin-top:36px;
	margin-bottom:15px;
}
}
@media(min-width:769px) and (max-width:1023px) {
	.lwr1{
	padding-top:5px;
	padding-bottom:5px;
	width:20%;
	height:30px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
.lwr2{
		padding-top:5px;
	padding-bottom:5px;
	float:left;
	width:60%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr3{
	padding-top:20px;
	padding-bottom:20px;
	float:left;
	width:100%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr4{
	margin-top: 0px;
	float: left;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr5{
	margin-bottom:10px;
	float:left;
	width:50%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
.lwr6{
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	width: 50%;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr7{
	margin-top:20px;
	margin-bottom:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.lwr8{
	float:left;
	width:50%;
	height:50px;
}
.lwr8 .em{
	width:100%;
	height:50px;
	background:url(../images/email_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr9{
	float:left;
	width:50%;
	height:50px;
}
.lwr9 .pr{
	width:100%;
	height:50px;
	background:url(../images/print_05.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr001{
	height:60px;
	width:100%;
	margin-top:20px;
	margin-bottom:31px;
}
}
@media(min-width:480px) and (max-width:768px) {
	.lwr1{
	padding-top:5px;
	padding-bottom:5px;
	width:20%;
	height:30px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
.lwr2{
		padding-top:5px;
	padding-bottom:5px;
	float:left;
	width:60%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr3{
	padding-top:20px;
	padding-bottom:20px;
	float:left;
	width:100%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr4{
	margin-top: 0px;
	float: left;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr5{
	margin-bottom:10px;
	float:left;
	width:50%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
.lwr6{
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	width: 50%;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr7{
	margin-top:20px;
	margin-bottom:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.lwr8{
	float:left;
	width:50%;
	height:50px;
}
.lwr8 .em{
	width:100%;
	height:50px;
	background:url(../images/email_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr9{
	float:left;
	width:50%;
	height:50px;
}
.lwr9 .pr{
	width:100%;
	height:50px;
	background:url(../images/print_05.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr001{
	height:60px;
	width:100%;
	margin-top:20px;
	margin-bottom:31px;
}
}
@media(min-width:320px) and (max-width:479px) {
	.lwr1{
	padding-top:5px;
	padding-bottom:5px;
	width:20%;
	height:30px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
.lwr2{
		padding-top:5px;
	padding-bottom:5px;
	float:left;
	width:60%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr3{
	padding-top:20px;
	padding-bottom:20px;
	float:left;
	width:100%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr4{
	margin-top: 0px;
	float: left;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr5{
	margin-bottom:10px;
	float:left;
	width:50%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
.lwr6{
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	width: 50%;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr7{
	margin-top:20px;
	margin-bottom:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.lwr8{
	float:left;
	width:50%;
	height:50px;
}
.lwr8 .em{
	width:100%;
	height:50px;
	background:url(../images/email_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr9{
	float:left;
	width:50%;
	height:50px;
}
.lwr9 .pr{
	width:100%;
	height:50px;
	background:url(../images/print_05.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr001{
	height:60px;
	width:100%;
	margin-top:20px;
	margin-bottom:31px;
}
}
@media(min-width:100px) and (max-width:319px) {
	.lwr1{
	padding-top:5px;
	padding-bottom:5px;
	width:20%;
	height:30px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#000;
}
.lwr2{
		padding-top:5px;
	padding-bottom:5px;
	float:left;
	width:60%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
}
.lwr3{
	padding-top:20px;
	padding-bottom:20px;
	float:left;
	width:100%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
}
.lwr4{
	margin-top: 0px;
	float: left;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}
.lwr5{
	margin-bottom:10px;
	float:left;
	width:50%;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
}
.lwr6{
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	width: 50%;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}
.lwr7{
	margin-top:20px;
	margin-bottom:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
.lwr8{
	float:left;
	width:50%;
	height:50px;
}
.lwr8 .em{
	width:100%;
	height:50px;
	background:url(../images/email_03.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr9{
	float:left;
	width:50%;
	height:50px;
}
.lwr9 .pr{
	width:100%;
	height:50px;
	background:url(../images/print_05.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.lwr001{
	height:60px;
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
}
}