#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }

/*=Slides
----------------------------------------------- */
.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
  margin-bottom: 0; }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px;
  padding-top:0px !important;
  padding-bottom:0px;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }

/* prev next buttons */
.cslide-prev-next {
  display: none;
  width:100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:70px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:320px;
	width:62px;
	text-align:left;
	/*margin-right:1850px !important;*/
	background-color:transparent;
	border:none;
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:62px !important;
	text-align:right;
	margin-right:4px;
	margin-top:319px;
	background-color:transparent;
	border:none;
}
.qrcode{background-color:#f5fafe;}
.details{text-align:center; background-color:#f5fafe;}
.details .offer-name{text-transform:uppercase; font-size:18px; padding-top:20px;}
.details .offer{font-size:20px; font-weight:bold; text-transform:uppercase; padding-top:10px;}
.details .des-heading{padding-left:5%; text-align:left; font-weight:bold; padding-top:10px;}
.details p{padding-left:5%; padding-right:5%; text-align:left;}
@media(min-width:1024px) and (max-width:1920px) {
	#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }

/*=Slides
----------------------------------------------- */
.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
  margin-bottom: 0; }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px;
  padding-top:0px !important;
  padding-bottom:0px;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }

/* prev next buttons */
.cslide-prev-next {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:55px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:146px;
	width:62px;
	background-size:50px;
	/*margin-right:1297px !important;*/
	background-color:transparent;
	border:none;
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:62px !important;
	margin-right:4px;
	margin-top:146px;
		background-size:50px;
	background-color:transparent;
	border:none;
}
.qrcode{background-color:#f5fafe;}
.qrcode img{ display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:100% !important;
     vertical-align: middle;
	 -webkit-box-shadow: 0px 0px 3px 3px #ccc;
-moz-box-shadow: 0px 0px 3px 3px #CCCCCC;
box-shadow: 0px 0px 3px 3px #ccc;}
}
@media(min-width:769px) and (max-width:1023px) {
	#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }

/*=Slides
----------------------------------------------- */
.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
 }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px !important;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }

/* prev next buttons */
.cslide-prev-next {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:48px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:134px;
	width:62px;
	background-size:45px;
	/*margin-right:816px !important;*/
	background-color:transparent;
	border:none;
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:62px !important;
	margin-right:4px;
	margin-top:134px;
	background-size:45px;
	background-color:transparent;
	border:none;
}
.qrcode img{ display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:30% !important;
     vertical-align: middle;
	 -webkit-box-shadow: 0px 0px 3px 3px #ccc;
-moz-box-shadow: 0px 0px 3px 3px #CCCCCC;
box-shadow: 0px 0px 3px 3px #ccc;}
}
/*@media(min-width:480px) and (max-width:768px) {
		#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }


.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
  margin-bottom: 0; }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px !important;
  padding-top:0px !important;
  padding-bottom:0px;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }


.cslide-prev-next {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:70px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:293px;
	width:61px !important;
	
	background-color:transparent;
	border:none;
	
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:61px !important;
	margin-top:292px;
	margin-top:463 !important;
	margin-right:0px !important;
	background-color:transparent;
	border:none;
	
}
}*/
@media(min-width:434px) and (max-width:768px) {
		#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }

/*=Slides
----------------------------------------------- */
.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
  margin-bottom: 0; }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }

/* prev next buttons */
.cslide-prev-next {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:58px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:250px;
	width:62px;
	background-size:40px;
/*	margin-right:315px !important;
*/	background-color:transparent;
	border:none;
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:40px !important;
	margin-right:10px;
	margin-top:250px;
	background-size:40px;
	background-color:transparent;
	border:none;
}
.qrcode img{ display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:30% !important;
     vertical-align: middle;
	 -webkit-box-shadow: 0px 0px 3px 3px #ccc;
-moz-box-shadow: 0px 0px 3px 3px #CCCCCC;
box-shadow: 0px 0px 3px 3px #ccc;}
}
@media(min-width:411px) and (max-width:433px) {
			#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }

/*=Slides
----------------------------------------------- */
.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
  margin-bottom: 0; }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }

/* prev next buttons */
.cslide-prev-next {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:48px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:177px;
	width:62px;
	background-size:40px;
/*	margin-right:293px !important;
*/	background-color:transparent;
	border:none;
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:40px !important;
	margin-right:0px;
	margin-top:177px;
	background-size:40px;
	background-color:transparent;
	border:none;
}
.qrcode img{ display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:30% !important;
     vertical-align: middle;
	 -webkit-box-shadow: 0px 0px 3px 3px #ccc;
-moz-box-shadow: 0px 0px 3px 3px #CCCCCC;
box-shadow: 0px 0px 3px 3px #ccc;}
}
@media(min-width:321px) and (max-width:410px){
			#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }

/*=Slides
----------------------------------------------- */
.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
  margin-bottom: 0; }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }

/* prev next buttons */
.cslide-prev-next {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:54px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:175px;
	width:62px;
	background-size:40px;
/*	margin-right:245px !important;
*/	background-color:transparent;
	border:none;
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:40px !important;
	margin-right:5px;
	margin-top:175px;
	background-size:40px;
	background-color:transparent;
	border:none;
}
.qrcode img{ display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:30% !important;
     vertical-align: middle;
	 -webkit-box-shadow: 0px 0px 3px 3px #ccc;
-moz-box-shadow: 0px 0px 3px 3px #CCCCCC;
box-shadow: 0px 0px 3px 3px #ccc;}
}
@media(min-width:300px) and (max-width:320px){
			#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }

/*=Slides
----------------------------------------------- */
.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
  margin-bottom: 0; }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }

/* prev next buttons */
.cslide-prev-next {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:38px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:164px;
	width:62px;
	background-size:30px;
/*	margin-right:198px !important;
*/	background-color:transparent;
	border:none;
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:40px !important;
	margin-right:0px;
	margin-top:164px;
	background-size:30px;
	background-color:transparent;
	border:none;
}
.qrcode img{ display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:30% !important;
     vertical-align: middle;
	 -webkit-box-shadow: 0px 0px 3px 3px #ccc;
-moz-box-shadow: 0px 0px 3px 3px #CCCCCC;
box-shadow: 0px 0px 3px 3px #ccc;}
}
@media(min-width:100px) and (max-width:299px){
				#cslide-slides h2 {
  margin-bottom: 10px;
  font-weight: 700; }

/*=Slides
----------------------------------------------- */
.cslide-slides-master {
  overflow: hidden;
  margin-bottom: 60px; }

.cslide-slides-master:last-child {
  margin-bottom: 0; }

.cslide-slides-container {
  visibility: hidden; }

.cslide-slide {
  float: left;
  padding: 0px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  }

.cslide-slide h2,
.cslide-slide p {
  color: #fff; }

/* prev next buttons */
.cslide-prev-next {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cslide-prev, .cslide-next {
  display: inline-block;  
  color: #fff; padding: 0px 0px;
  height:33px !important;
  cursor: pointer; }

.cslide-prev:hover,
.cslide-next:hover {
 }

.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
   }

.cslide-prev{
	background:url(../images/arrow2.png);
	background-repeat:no-repeat;
	margin-top:168px;
	width:62px;
	background-size:30px;
/*	margin-right:198px !important;
*/	background-color:transparent;
	border:none;
}.cslide-next {
	background:url(../images/arrow3.png);
	background-repeat:no-repeat;
	width:40px !important;
	margin-right:-9px;
	margin-top:168px;
	background-size:30px;
	background-color:transparent;
	border:none;
}
.qrcode img{ display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:30% !important;
     vertical-align: middle;
	 -webkit-box-shadow: 0px 0px 3px 3px #ccc;
-moz-box-shadow: 0px 0px 3px 3px #CCCCCC;
box-shadow: 0px 0px 3px 3px #ccc;}
}
/*QR Code*/
